.picture-container {
  width: 15vw;
  margin: 1em;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 170px;
  background-color: rgb(248, 249, 251);
}
.picture-container > img {
  width: 100%;
  height: auto;
  border-bottom: none;
}
.picture-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  border-top: none;
  border-bottom: none;
  border-left: 1.5px solid rgb(115, 115, 116);
  border-right: 1.5px solid rgb(115, 115, 116);
}

.picture-label {
  font-size: 0.9rem;
  color: rgb(163, 165, 165);
}
.picture-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.hilight {
  font-weight: 800;
  font-size: 0.95rem;
  color: rgba(235, 92, 39, 0.87);
}
.line-through {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: rgb(163, 165, 165);
}
.picture1-bottom {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid rgb(115, 115, 116);
}

.point-boxes {
  display: flex;
  width: 60%;
  margin: 0.5em;
  margin-top: 0.1em;
}
.point-box {
  margin-right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: gray;
}
.check {
  background-color: yellowgreen;
}
.picture1-bottom > span {
  margin-left: 0.5em;
  font-size: 0.8rem;
  color: rgb(103, 104, 104);
}
