.picture-container-row {
  display: flex;
  width: 40%;
  min-width: 400px;
  margin: 1em 1em;
  min-height: 130px;
}

.picture-row-left {
  height: 28vh;
  width: auto;
  min-height: 130px;
}
.picture-row-left > img {
  width: auto;
  height: 28vh;
  min-height: 130px;
}
.picture-row-right {
  padding-left: 1em;
  font-size: 0.8rem;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid rgb(115, 115, 116);
  border-left: none;
  min-height: 130px;
  height: 28vh;
  padding-top: 1em;
  padding-bottom: 1em;
}

.picture-row-label {
  font-size: 0.9rem;
  color: rgb(163, 165, 165);
}
.picture-row-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.point-boxes-row {
  display: flex;
  align-items: center;
  display: flex;
  width: 80%;
}
.point-boxes-row > span {
  font-size: 1rem;
  color: rgb(163, 165, 165);
  position: relative;
  top: 2px;
}
